extends ./layout/index
block contenido
    main.container.mt-5     
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel mauris hendrerit sem facilisis tempus. In eget dui risus. Vivamus a sagittis eros, a condimentum mauris. Mauris purus sapien, vulputate eu congue aliquam, tempor eu lacus. Praesent suscipit sem non malesuada vulputate. Vivamus eleifend nulla et augue lacinia, eget bibendum lacus hendrerit. Fusce at massa urna.
                p Fusce non imperdiet nulla. Morbi libero tellus, sollicitudin a nisi vel, dapibus faucibus mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nunc elit, lobortis id lacinia at, porttitor at nibh. Integer vitae enim eu lorem hendrerit facilisis vel sed justo. Integer pharetra dignissim nisi vitae lacinia. Fusce et tellus congue, gravida ligula placerat, sagittis magna.
                p Donec sit amet imperdiet purus, et consectetur neque. Phasellus posuere, justo ac bibendum elementum, purus augue mollis mi, a maximus mauris sem at nibh. Nullam ac ultricies odio, non rhoncus elit. Cras interdum nibh mi, id laoreet quam porttitor quis. Integer convallis sed nisl at gravida. 
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Phasellus posuere, justo ac bibendum elementum, purus augue mollis mi, a maximus mauris sem at nibh.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Phasellus posuere, justo ac bibendum elementum, purus augue mollis mi, a maximus mauris sem at nibh.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios  
                    p Phasellus posuere, justo ac bibendum elementum, purus augue mollis mi, a maximus mauris sem at nibh.    

    